.idea/
.project/
.settings/
**/bin/
**/target/
**/.settings/
**/.classpath
**/.project
**/.gitignore
**/.idea
**/logs/
**/*.iml
**/*.swp
**/dependency-reduced-pom.xml
.idea/
.vscode/
core/zaloni-bedrock-workflow-mapreduce/dependency-reduced-pom.xml
core/ingestion-migration/dependency-reduced-pom.xml
core/lineage-migration/dependency-reduced-pom.xml
core/zaloni-bedrock-workflow-master/logs/
core/zaloni-bedrock-kibana/src/main/webapp/kibana/node_modules
core/zaloni-bedrock-kibana/src/main/webapp/kibana/.node_binaries
core/zaloni-bedrock-kibana/src/main/webapp/kibana/build
core/zaloni-bedrock-kibana/src/main/webapp/kibana/optimize/bundles
core/zaloni-bedrock-ui/angular-app/
core/zaloni-bedrock-ui/angular-app/app/styles/main.css.map
core/zaloni-bedrock-ui/angular-app/nbproject
core/zaloni-bedrock-ui/angular-app/nbproject/private/
/core/zaloni-bedrock-ui/angular-app/app/styles/main.css
/core/zaloni-bedrock-ui/src/main/webapp/app/styles/*.css
/core/zaloni-bedrock-ui/src/main/webapp/app/styles/*.map
/core/zaloni-bedrock-ui/angular-app/app/custom_components/kibana/src/css/bootstrap.dark.min.3.3Sprint2.backup.css
/core/zaloni-bedrock-ui/angular-app/app/custom_components/kibana/src/css/bootstrap.light.min.3.3Sprint2.backup.css
/core/zaloni-bedrock-ui/angular-app/app/custom_components/kibana/src/css/bootstrap.light.min.backup.css
*.iml
/core/zaloni-bedrock-ui/angular-app/app/styles/main.css
core/zaloni-bedrock-ui/angular-app/app/styles/main.css
ajcore*.txt
core/zaloni-bedrock-ui/angular-app/app/swagger-ui/swagger.json
core/zaloni-bedrock-ui/angular-app/app/swagger-ui/dataprofile/swagger.json
core/zaloni-bedrock-ui/src/main/webapp/app/swagger-ui/swagger.json
**/.vagrant
core/zaloni-bedrock-data-profiling/metastore_db
derby.log
/core/zaloni-bedrock-ui/src/main/webapp/jshint-report.html
