.idea/
.project/
.settings/
**/bin/
**/target/
**/.settings/
**/.classpath
**/.project
**/.gitignore
**/.idea
**/logs/
**/*.iml
**/*.swp
**/dependency-reduced-pom.xml
.vscode/
*.iml
ajcore*.txt
**/.vagrant
derby.log
